.single-book--section {
    @include flex-container(column, 10px, space-between, center);
    padding: 10px;

    .description-paragraph {
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-height: 35vh;
        overflow-y: scroll;
        padding-right: 5px;
        margin-bottom: 10px;

        //tablets and phones
        @media (max-width: $bp-laptop) {
            max-height: 25vh;
            width: 100%;
            margin-bottom: 0px;
        }
    }

    button {
        @include btn-base();
        @include text-base(var(--active-text-color), $text-font, 400, null);
        @include responsive-font($size-10, $size-15, $size-25);
        background-color: var(--background-color);
        //tablets and phones
        @media (max-width: $bp-laptop) {
            min-width: 120px;
        }
        //large laptops >1920
        @media (min-width: $bp-desktop-xl) {
            padding: 15px 20px;
        }
    }

    button#delete {
        border-color: var(--error-color);
        align-self: center;
        margin-top: 40px;
        color: var(--text-color);
        //tablets and phones
        @media (max-width: $bp-laptop) {
            margin-top: 20px;
        }
    }

    h1 {
        @include text-base(var(--title-color), $title-font, 400, null);
        @include responsive-font($size-15, $size-25, $size-30);
        //tablets and phones
        @media (max-width: $bp-laptop) {
            width: 80%;
            text-align: center;
        }
    }
    h3 {
        @include text-base(var(--text-color), $text-font, 400, null);
        @include responsive-font($size-10, $size-15, $size-20);
        margin-bottom: 10px;
        //tablets and phones
        @media (max-width: $bp-laptop) {
            margin-bottom: 0px;
        }
    }
    p {
        text-align: center;
        margin: 0 auto;
        width: 70%;
        span {
            color: var(--active-text-color);
        }
        //tablets and phones
        @media (max-width: $bp-laptop) {
            width: 100%;
        }
    }

    ::-webkit-scrollbar {
        width: 3px;
    }
    ::-webkit-scrollbar-track {
        background: var(--scrollbar-track);
        border-radius: 2rem;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--scrollbar-bc);
        border-radius: 2rem;
        &:hover {
            background: var(--scrollbar-bc--active);
        }
    }
}

.main-info {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    //tablets and phones
    @media (max-width: $bp-laptop) {
        grid-template-columns: 1fr;
    }
    img {
        margin: 0 auto;
        object-fit: contain;
        max-height: 60vh;
        max-width: 100%;
        //tablets and phones
        @media (max-width: $bp-laptop) {
            max-height: 30vh;
            margin-bottom: 10px;
        }
        //large laptops >1920
        @media (min-width: $bp-desktop-xl) {
            max-height: 40vh;
        }
    }
    div {
        @include flex-container(column, 10px, center, center);
        .reading-progress span {
            font-weight: 700;
            color: var(--span-text-color);
        }
    }
}

.users-progress {
    //tablets and phones
    @media (max-width: $bp-laptop) {
        width: 80%;
        border-bottom: 1px solid var(--accent-color);
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .book-rating {
        @include flex-container(row, 3px, center, center);
        width: 100%;
        //large laptops >1920
        @media (min-width: $bp-desktop-xl) {
            margin-top: 5px;
        }
    }
    .actions-bar {
        @include flex-container(row, 20px, center, center);
        margin-top: 5px;
        width: 100%;

        //large laptops >1920
        @media (min-width: $bp-desktop-xl) {
            margin-top: 10px;
        }
    }
}

.additional-info {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    //tablets and phones
    @media (max-width: $bp-laptop) {
        grid-template-columns: 1fr;
    }
    section {
        text-align: center;
        @include flex-container(column, 10px, center, center);
    }
    .description-paragraph {
        padding-right: 15px;
        //tablets and phones
        @media (max-width: $bp-laptop) {
            padding-right: 5px;
        }
    }
    p {
        width: 100%;
    }
}
