.single-book--section {
    @include flex-container(column, 10px, space-between, center);
    padding: 10px;

    .slider-section {
        width: 90%;
    }

    .description-paragraf {
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-height: 35vh;
        overflow-y: scroll;
        padding-right: 5px;
        margin-bottom: 10px;
    }

    button {
        @include btn-base();
        @include text-base(var(--active-text-color), $font-weight: 400, $font-size: $size-15);
        background-color: var(--background-color);
        @media (min-width: $xxl) and (max-width: $xxxl) {
            font-size: $size-20;
        }
        @media (max-width: $md) {
            width: 100px;
        }
        @media (min-width: $xxxl) {
            font-size: $size-25;
            padding: 15px 20px;
        }
    }
    .change-btn {
        @include btn-base();
        @include text-base(var(--active-text-color), $font-weight: 400, $font-size: $size-15);
        background-color: var(--background-color);
        text-align: center;
        margin: 10px 0;
    }
    button#delete {
        border-color: var(--error-color);
        align-self: center;
        margin-top: 40px;
        color: var(--text-color);
    }
    h1 {
        @include text-base(var(--title-color), $title-font, 400, 24px);
    }
    h3 {
        @include text-base(var(--text-color), $text-font, 400, 14px);
        margin-bottom: 10px;
    }
    p {
        @include text-base(var(--text-color), $text-font, 400, 15px);
        text-align: center;
        margin: 0 auto;
        width: 70%;
        span {
            color: var(--active-text-color);
        }
    }

    ::-webkit-scrollbar {
        width: 3px;
    }
    ::-webkit-scrollbar-track {
        background: var(--scrollbar-track);
        border-radius: 2rem;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--scrollbar-bc);
        border-radius: 2rem;
        &:hover {
            background: var(--scrollbar-bc--active);
        }
    }
}

.main-info {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    img {
        margin: 0 auto;
        object-fit: contain;
        max-height: 60vh;
        max-width: 100%;
    }
    div {
        @include flex-container(column, 10px, center, center);
        .reading-progress span {
            font-weight: 700;
            color: var(--span-text-color);
        }
    }
}

.users-progress {
    .book-rating {
        @include flex-container(row, 3px, center, center);
        width: 100%;
        @media (min-width: $xxxl) {
            margin-top: 5px;
        }
    }
    .actions-bar {
        @include flex-container(row, 20px, center, start);
        margin-top: 5px;
        width: 100%;
        @media (min-width: $xxxl) {
            margin-top: 10px;
        }
    }
}

.additional-info {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    section {
        text-align: center;
        @include flex-container(column, 10px, center, center);
    }

    p {
        width: 100%;
    }
    .splide__arrow svg {
        fill: var(--active-text-color);
    }
    .splide__arrow {
        border: none;
        background-color: var(--background-color);
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;
        z-index: 2;
        height: 2em;
        opacity: 0.7;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2em;

        &:hover {
            background-color: var(--button-focus-color);
        }

        &--prev {
            left: -30px;
        }

        &--next {
            right: -30px;
        }
    }
}
