.main-info-change--section {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 20px;
    input,
    textarea {
        &::placeholder {
            font-size: 15px;
        }
    }
    p {
        margin-bottom: 5px;
        @include text-base(var(--text-color), $text-font, 400, $size-15);
        @media (min-width: $xxl) and (max-width: $xxxl) {
            font-size: $size-20;
        }
        @media (min-width: $xxxl) {
            font-size: $size-25;
        }
    }
    .image--section {
        @include flex-container();
        img {
            margin: 5px $basic-margin-x;
            object-fit: contain;
            width: 100%;
            max-height: 60vh;
        }
    }
    .data--section {
        ::-webkit-scrollbar {
            width: 2px;
        }
        ::-webkit-scrollbar-track {
            border-radius: 2rem;
        }
        ::-webkit-scrollbar-thumb {
            background: var(--accent-color);
            border-radius: 2rem;
            &:hover {
                background: var(--separators-color);
            }
        }
        .name--section {
            @include flex-container(flex, $size-10, space-between, start);
        }
        .users-progress {
            @include flex-container(column, $size-10, space-between, start);
            .users-progress-inputs {
                @include flex-container(row, $size-10, space-between, start);
            }
            .divider {
                font-size: 2rem;
                font-weight: bold;
                margin: 0 0.5rem;
            }
        }
        input#tags {
            width: 90%;
        }
        textarea {
            width: 70%;
            min-height: 150px;
            padding: 10px;
            background-color: var(--input-bc-color);
            border: 1px solid var(--button-color);
            @include text-base(var(--text-color), $text-font, 200, $size-15);
            resize: none;

            &:focus {
                border-color: var(--accent-color);
                outline: none;
                box-shadow: 0 0 0 2px rgba(100, 150, 255, 0.2);
                background-color: var(--button-focus-color);
            }
            &::placeholder {
                color: var(--button-color);
                opacity: 1;
            }
        }
    }
}
