.catalogue-section {
    @include flex-container(column, $basic-gap, center, center);
    padding: 0 10%;
    position: relative;
}

.catalogue-search {
    @include flex-container(row, 0px, center, space-between);
    position: sticky;
    top: $nav-height;
    width: 100%;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--secondary-color);
    margin: 10px auto 0 auto;
    padding: 5px 10px;
    //phones
    @media (max-width: $bp-tablet) {
        top: $nav-height-sm;
    }
    //large laptops >1920
    @media (min-width: $bp-desktop-xl) {
        top: $nav-max-height;
    }
}

.catalogue-search--input {
    @include flex-container(row, 10px, center, center);
    width: 60%;
    padding: 5px;
    border-bottom: 1px solid var(--accent-color);
    //phones
    @media (max-width: $bp-tablet) {
        width: 100%;
    }
    .icon {
        @include icon-base(15px, 15px, var(--accent-color));
    }
    input {
        background-color: var(--background-color);
        border: none;
        color: var(--accent-color);
        @include text-base(var(--text-color), $text-font, 200, null);
        @include responsive-font($size-10, $size-15, $size-25);
        outline: none;
        padding: 5px;
        width: 100%;
        &::placeholder {
            color: var(--secondary-text-color);
            transition: color 0.2s ease;
        }
        &:focus::placeholder {
            color: var(--active-text-color);
        }
    }
}

.filter-menu {
    position: relative;
    ::-webkit-scrollbar {
        width: 2px;
    }
    ::-webkit-scrollbar-track {
        border-radius: 2rem;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--accent-color);
        border-radius: 2rem;
        &:hover {
            background: var(--separators-color);
        }
    }
    .filter-menu__dropdown {
        @include flex-container(column, $basic-gap, start, space-evenly);
        background-color: var(--background-color);
        border: 1px solid var(--accent-color);
        border-radius: 0.5rem;
        box-shadow: $box-shadow;
        max-height: 80vh;
        min-height: 40vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 35px;
        //phones
        @media (max-width: $bp-tablet) {
            gap: $small-gap;
            max-height: 50vh;
            padding: 15px;
        }
        //tablets
        @media (min-width: $bp-tablet) and (max-width: $bp-laptop) {
            max-height: 50vh;
        }
        .change-btn {
            min-width: 120px;
            @media (max-width: $bp-tablet) {
                min-width: 100px;
            }
        }
    }
    .filter-menu__section {
        @include text-base(var(--text-color), $text-font, 200, null);
        @include responsive-font($size-10, $size-15, $size-20);
        min-width: 40vw;
        //phones
        @media (max-width: $bp-tablet) {
            min-width: 60vw;
        }
        //tablets
        @media (min-width: $bp-tablet) and (max-width: $bp-laptop) {
            min-width: 60vw;
        }
        .filter-menu__checkbox {
            accent-color: var(--button-color);
            height: 15px;
            margin-right: 5px;
            width: 15px;
            //large laptops >1920
            @media (min-width: $bp-desktop-xl) {
                width: 25px;
                height: 25px;
            }
        }
        .filter-menu__label {
            @include text-base(var(--text-color), $text-font, 300, null);
            @include responsive-font($size-10, $size-15, $size-20);
            text-transform: capitalize;
        }
        .filter-menu__options {
            border-bottom: 1px solid var(--accent-color);
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(2, 1fr);
            max-height: 150px;
            overflow-y: scroll;
            padding: 5px;
            //phones
            @media (max-width: $bp-tablet) {
                max-height: 120px;
            }
            //tablets
            @media (min-width: $bp-tablet) and (max-width: $bp-laptop) {
                max-height: 120px;
            }
        }
        ::-webkit-scrollbar {
            width: 2px;
        }
        ::-webkit-scrollbar-track {
            background: var(--section-bc-color);
            border-radius: 2rem;
        }
        ::-webkit-scrollbar-thumb {
            background: var(--accent-color);
            border-radius: 2rem;
            &:hover {
                background: var(--separators-color);
            }
        }
    }
}

.filter-menu__section-title {
    @include text-base(var(--title-color), $title-font, $font-size: null);
    @include responsive-font($size-15, $size-20, $size-30);
    border-bottom: 1px solid var(--accent-color);
    display: inline-block;
    margin-bottom: 5px;
    text-align: left;
    //large laptops >1920
    @media (min-width: $bp-desktop-xl) {
        margin-bottom: 10px;
    }
}

.catalogue-book__section {
    display: grid;
    gap: $basic-gap;
    grid-template-columns: repeat(auto-fit, $book-section-width-desktop);
    justify-content: center;
    margin: 0 auto;
    width: 100%;

    //phones
    @media (max-width: $bp-tablet) {
        gap: $small-gap;
        grid-template-columns: repeat(auto-fit, $book-section-width-sm);
    }
    //tablets
    @media (min-width: $bp-tablet) and (max-width: $bp-laptop) {
        grid-template-columns: repeat(auto-fit, $book-section-width-md);
    }
    //large laptops >1920
    @media (min-width: $bp-desktop-xl) {
        grid-template-columns: repeat(auto-fit, $book-section-width-desktop-xl);
    }
    //2k laptops >2560
    @media (min-width: $bp-desktop-2k) {
        grid-template-columns: repeat(auto-fit, $single-book-width-desktop-2k);
    }
}
