.change-review-container {
    @include flex-container();
    background-color: var(--shadow-color);
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.review-popup {
    @include flex-container(column, 0px, center, center);
    background-color: var(--background-color);
    border: 2px solid var(--secondary-color);
    padding: 20px 40px;
    width: 35vw;
    label {
        @include text-base(var(--text-color), $text-font, 200, $size-20);
        text-align: center;
        margin-bottom: 20px;
    }
    textarea {
        width: 100%;
        min-width: 30vw;
        min-height: 150px;
        padding: 10px;
        background-color: var(--input-bc-color);
        border: 1px solid var(--button-color);
        @include text-base(var(--text-color), $text-font, 300, $size-15);
        resize: none;
        &:focus {
            border-color: var(--accent-color);
            outline: none;
            box-shadow: 0 0 0 2px rgba(100, 150, 255, 0.2);
            background-color: var(--button-focus-color);
        }
        &::placeholder {
            color: var(--secondary-text-color);
            opacity: 1;
            font-size: 15px;
        }
    }
    button {
        margin: 0%;
    }
}
