.confirm-container {
    @include flex-container();
    background-color: var(--shadow-color);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.confirm-popup {
    background-color: var(--background-color);
    border: 2px solid var(--secondary-color);
    padding: 20px 40px;
    width: 35%;
    padding: 20px;
    div{
        margin-top: 20px;
        @include flex-container(row);
    }
    h3{
        @include text-base(var(--title-color), $font-weight: 400, $font-size: 15px);
        text-align: center
    }
    .confirm-btn{
        @include btn-base();
        border-color: var(--confirm-color);
        @include text-base(var(--text-color), $font-weight: 400, $font-size: $size-15);
        background-color: var(--background-color);
    }
    .cansel-btn{
        @include btn-base();
        border-color: var(--error-color);
        @include text-base(var(--text-color), $font-weight: 400, $font-size: $size-15);
        background-color: var(--background-color);
    }
}
