.confirm-container {
    @include flex-container();
    background-color: var(--shadow-color);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    .input-group {
        //phones
        @media (max-width: $bp-tablet) {
            margin-bottom: 10px;
        }
    }
}

.confirm-popup {
    @include flex-container(column, 0px, center, center);
    background-color: var(--background-color);
    border: 2px solid var(--secondary-color);
    padding: 20px 40px;
    width: 35vw;
    padding: 20px;
    //phones
    @media (max-width: $bp-tablet) {
        width: 80vw;
    }
    //large laptops >1920
    @media (min-width: $bp-desktop-xl) {
        padding: 40px;
        width: 25vw;
    }
    div {
        margin-top: 20px;
        @include flex-container(row);
        //phones
        @media (max-width: $bp-tablet) {
            margin-top: 10px;
        }
        //large laptops >1920
        @media (min-width: $bp-desktop-xl) {
            width: 50%;
        }
    }
    h3 {
        @include text-base(var(--text-color), $text-font, 200, null);
        @include responsive-font($size-15, $size-20, $size-30);
        text-align: center;
        margin-bottom: 10px;
    }
    .confirm-btn,
    .cansel-btn {
        @include btn-base();
        @include text-base(var(--text-color), $text-font, 400, null);
        @include responsive-font($size-10, $size-15, $size-25);
        background-color: var(--background-color);

        &:last-of-type {
            border-color: var(--confirm-color);
        }
        &:first-of-type {
            border-color: var(--error-color);
        }

        //phones
        @media (max-width: $bp-tablet) {
            min-width: 30vw;
        }
    }
}
