.custom-select {
    position: relative;
    width: 30%;
    margin: 0;
    margin-bottom: $basic-margin-y;
    text-transform: capitalize;
    //phones
    @media (max-width: $bp-tablet) {
        margin-bottom: calc($basic-margin-y - 5px);
    }
    //large laptops >1920
    @media (min-width: $bp-desktop-xl) {
        margin-bottom: calc($basic-margin-y + 5px);
    }
    ::-webkit-scrollbar {
        width: 2px;
    }
    ::-webkit-scrollbar-track {
        border-radius: 2rem;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--accent-color);
        border-radius: 2rem;
        &:hover {
            background: var(--separators-color);
        }
    }
    .selected-option {
        background-color: var(--input-bc-color);
        border: 1px solid var(--button-color);
        border-radius: 4px;
        padding: 12px 10px;
        width: 100%;
        margin-bottom: 20px;
        @include text-base(var(--text-color), $text-font, 200, null);
        @include responsive-font($size-10, $size-15, $size-25);
    }

    .options-list {
        position: absolute;
        width: 100%;
        max-height: 200px;
        background-color: var(--background-color);
        border: 1px solid var(--button-color);
        border-radius: 4px;
        margin: 0;
        padding: 12px 10px;
        list-style: none;
        overflow-y: auto;
        z-index: 1000;

        @include text-base(var(--text-color), $text-font, 200, null);
        @include responsive-font($size-10, $size-15, $size-25);
        li {
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
                background-color: var(--secondary-color);
                color: var(--active-text-color);
            }

            &.active {
                background-color: var(--secondary-color);
                color: var(--active-text-color);
            }
        }
    }
}

.selected-option::after {
    content: "\25BD";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
    pointer-events: none;
    color: var(--active-text-color);
}
