footer {
    @include flex-container(row, 0px, center, space-between);
    background-color: var(--footer-color);
    margin-top: 40px;
    padding: 40px 90px;
    //phones
    @media (max-width: $bp-tablet) {
        align-items: flex-start;
        flex-direction: column;
        gap: $basic-gap;
        margin-top: 30px;
        padding: 10px 20px;
    }

    ul {
        @include flex-container(row, 50px, center, space-between);
        list-style: none;
        //phones
        @media (max-width: $bp-tablet) {
            align-items: flex-start;
            flex-direction: column;
            gap: $basic-gap;
            margin-left: 30px;
        }
        @media (min-width: $bp-tablet) and (max-width: $bp-laptop) {
            flex-direction: column;
            gap: $basic-gap;
        }
    }

    li a {
        @include text-base(var(--text-color), $text-font, 300, $size-15);
        text-decoration: none;
        &:hover,
        &:visited,
        &:active {
            color: var(--text-color);
        }
        //large laptops >1920
        @media (min-width: $bp-desktop-xl) {
            font-size: $size-25;
            font-weight: 400;
        }
    }
}

.footer-logo {
    @include flex-container(column, 0px, flex-start, center);

    a {
        @include flex-container(row, 0px, center, space-between);
    }

    h1 {
        @include text-base(var(--title-color), $title-font, 200, null);
        @include responsive-font($size-35, $size-45, $size-50);
    }

    img {
        @include img-base(55px, 40px);
        //large laptops >1920
        @media (min-width: $bp-desktop-xl) {
            @include img-base(55px);
        }
    }

    p {
        @include text-base(var(--text-color), $text-font, 300, null);
        @include responsive-font($size-10, $size-15, $size-25);
        padding-left: $small-padding;
    }
}

.auth-buttons {
    @include flex-container(column, $small-gap, center, center);

    @media (max-width: $bp-tablet) {
        flex-direction: row;
        margin-left: 30px;
    }

    .login,
    .register {
        @include btn-base();
        @include text-base(var(--button-text-color), $text-font, 400, null);
        @include responsive-font($size-10, $size-15, $size-25);

        @media (max-width: $bp-tablet) {
            width: 100px;
        }

        @media (min-width: $bp-desktop-xl) {
            padding: 15px 20px;
        }
    }

    .login {
        color: var(--active-text-color);
        background-color: var(--background-color);
    }

    .register {
        background-color: var(--button-color);
    }
}
