.login-popup {
    @include flex-container();
    background-color: var(--shadow-color);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.login-popup-container {
    background-color: var(--background-color);
    border: 2px solid var(--secondary-color);
    padding: 20px 40px;
    width: 30%;

    @media (max-width: $md) {
        padding: 15px $small-padding;
        width: 80%;
    }
    @media (min-width: $md) and (max-width: $xl) {
        width: 50%;
    }
    @media (min-width: $xxxl) {
        padding: 25px 40px;
    }
    button {
        background-color: var(--button-color);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 13px;
        padding: 10px;
        width: 100%;
        @include text-base(var(--button-text-color), $text-font, 200, $size-15);
        @media (min-width: $xxxl) {
            padding: 15px;
            font-size: $size-20;
        }
    }

    .signup-login-link {
        text-align: center;
        @include text-base(var(--text-color), $text-font, 200, $size-13);
        @media (min-width: $xxl) and (max-width: $xxxl) {
            font-size: $size-15;
        }
        @media (min-width: $xxxl) {
            font-size: $size-20;
        }
    }

    span {
        cursor: pointer;
        margin-left: 5px;
        text-decoration: underline;
        @include text-base(var(--text-color), $text-font, 200, $size-13);
        @media (min-width: $xxl) and (max-width: $xxxl) {
            font-size: $size-15;
        }
        @media (min-width: $xxxl) {
            font-size: $size-20;
        }
    }
}

.login-popup-title {
    p {
        margin-bottom: 10px;
        @include text-base(var(--text-color), $text-font, 200, $size-15);
        @media (min-width: $xxl) and (max-width: $xxxl) {
            font-size: $size-20;
        }
        @media (min-width: $xxxl) {
            font-size: $size-25;
        }
    }

    h3 {
        @include text-base(var(--title-color), $font-size: $size-30);
        @media (min-width: $xxl) and (max-width: $xxxl) {
            font-size: $size-35;
        }
        @media (min-width: $xxxl) {
            font-size: $size-40;
        }
    }

    .login-title--subtext {
        margin-bottom: 20px;
        @include text-base(var(--subtext-color), $text-font, 200, $size-10);
        @media (min-width: $xxl) and (max-width: $xxxl) {
            font-size: $size-15;
        }
        @media (min-width: $xxxl) {
            font-size: $size-20;
        }
    }
}

.input-group {
    margin-bottom: $basic-margin-y;
    @media (min-width: $xxxl) {
        margin-bottom: calc($basic-margin-y + 5px);
    }
    input {
        background-color: var(--input-bc-color);
        border: 1px solid var(--button-color);
        border-radius: 4px;
        padding: 12px 10px;
        width: 100%;
        @include text-base(var(--text-color), $text-font, 200, $size-15);
        @media (min-width: $xxl) and (max-width: $xxxl) {
            font-size: $size-20;
        }
        @media (min-width: $xxxl) {
            font-size: $size-25;
        }
        &::placeholder {
            color: var(--button-color);
            opacity: 1;
        }

        &:focus {
            background-color: var(--button-focus-color);
            outline: none;
        }
    }

    label {
        display: block;
        margin-bottom: 5px;
        @include text-base(var(--text-color), $text-font, 400, $size-15);
        @media (min-width: $xxl) and (max-width: $xxxl) {
            font-size: $size-20;
        }
        @media (min-width: $xxxl) {
            font-size: $size-25;
        }
    }
}

.password-group {
    @include flex-container(row, 0px, $align-items: center, $justify-content: center);
    border: 1px solid var(--button-color);
    border-radius: 4px;
    padding-right: 10px;

    input {
        border: none;
        margin-right: 10px;
    }
}

.error-message {
    margin: 5px 10px;
    @include text-base(var(--error-color), $text-font, 400, $size-10);
    @media (min-width: $xxl) and (max-width: $xxxl) {
        font-size: $size-15;
    }
    @media (min-width: $xxxl) {
        font-size: $size-20;
    }
}