.main-nav {
    position: sticky;
    top: 0;
    height: $nav-height;
    background-color: var(--background-color);
    z-index: 40;
    @include flex-container(row, 0px, center, space-between);
    padding: 10px $basic-padding;
    //phones
    @media (max-width: $bp-tablet) {
        height: $nav-height-sm;
        padding: 10px $basic-padding--small-screens;
    }
    //large laptops >1920
    @media (min-width: $bp-desktop-xl) {
        height: $nav-max-height;
        padding: 20px $basic-padding--large-screens;
    }
    a {
        @include flex-container(row, 5px, center);
        img {
            @include img-base();
            //phones
            @media (max-width: $bp-tablet) {
                @include img-base(30px);
            }
            //large laptops >1920
            @media (min-width: $bp-desktop-xl) {
                @include img-base(55px);
            }
        }
        h1 {
            @include text-base(var(--title-color), $title-font, 200, null);
            @include responsive-font($size-25, $size-30, $size-40);
        }
    }
}
