.slider-section {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid var(--accent-color);
    margin: 5px auto;
    margin-bottom: $basic-margin-y;
    width: 80%;
}

.slider-section::before,
.slider-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 15px;
    height: 90%;
    z-index: 3;
    pointer-events: none;
}

.slider-section::before {
    left: 0;
    background: linear-gradient(to right, var(--background-color), rgba(255, 255, 255, 0));
}

.slider-section::after {
    right: 0;
    background: linear-gradient(to left, var(--background-color), rgba(255, 255, 255, 0));
}

.splide__slide {
    margin: $basic-margin-y 15px $basic-margin-y 0 !important;
    width: $book-section-width-md !important;
    @media (max-width: $md) {
        width: $book-section-width-sm !important;
    }
    @media (min-width: $xxl) and (max-width: $xxxl) {
        margin: $basic-margin-y 20px $basic-margin-y 0;
        width: $book-section-width-xxl !important;
    }
    @media (min-width: $xxxl) {
        margin: $basic-margin-y 20px $basic-margin-y 0;
        width: $book-section-width-xxxl !important;
    }
}

.splide__slide img {
    height: 200px;
    object-fit: contain;
    @media (max-width: $md) {
        height: 180px;
    }
    @media (min-width: $xxl) and (max-width: $xxxl) {
        height: 220px;
    }
    @media (min-width: $xxxl) {
        height: 250px;
    }
}

.slider-title {
    @include text-base(var(--title-color), $title-font, 400, $size-20);
    text-transform: capitalize;
    @media (min-width: $xxl) and (max-width: $xxxl) {
        font-size: $size-30;
    }
    @media (min-width: $xxxl) {
        font-size: $size-35;
    }
}
