@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Cinzel&family=Kings&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+Egyptian+Hieroglyphs&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rouge+Script&family=UnifrakturCook:wght@700&family=UnifrakturMaguntia&display=swap');

$title-font: "Raleway", sans-serif;
$text-font: "Raleway", sans-serif;

$size-50: 50px;
$size-45: 45px;
$size-40: 40px;
$size-35: 35px;
$size-30: 30px;
$size-25: 25px;
$size-20: 20px;
$size-15: 15px;
$size-13: 13px;
$size-10: 10px;

$nav-height: 60px;
$nav-max-height: 80px;

$basic-padding: 60px;
$small-padding: 30px;

// screens
$md: 768px;
$xl: 1024px;
$xxl: 1400px;
$xxxl: 1920px;

// basic
$basic-margin-x: auto;
$basic-border-radius: 2rem;
$box-shadow: 0 4px 10px var(--shadow-color);
$big-gap: 40px;
$basic-gap: 20px;
$small-gap: 10px;
$smaller-container-width: 85%;
$basic-margin-y: 20px;

// medium screen
$large-padding-container-md: 40px 10px;

// small screen
$large-padding-container-sm: 20px 10px;

$book-section-width-sm: 45%;
$single-book-height-sm: 250px;
$single-book-width-sm: 100%;

$book-section-width-md: 175px;
$single-book-width-md: 175px;

$book-section-width-xxl: 195px;
$single-book-width-xxl: 195px;

$book-section-width-xxxl: 245px;
$single-book-width-xxxl: 245px;
