* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light,
.pink,
.dark {
    background-color: var(--background-color);
}

h1 {
    @include text-base(var(--title-color), $title-font, $font-weight: 400, $font-size: $size-40);
}

h2 {
    @include text-base(var(--title-color), $text-font, $font-weight: 400, $font-size: $size-40);
    line-height: 200%;
    text-align: center;

    @media (max-width: $md) {
        font-size: $size-30;
    }
    @media (min-width: $xxxl) {
        font-size: $size-50;
    }
}

h4 {
    @include text-base(var(--title-color), $title-font, $font-weight: 500, $font-size: 1.5rem);
}

h5 {
    @include text-base(var(--title-color), $title-font, $font-weight: 400, $font-size: $size-20);
}

p {
    @include text-base(var(--text-color), $text-font, $font-weight: 400, $font-size: $size-15);
}

p::first-letter {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.book-rating {
    @include flex-container(row, 3px, center, center);
    width: 100%;
    @media (min-width: $xxxl) {
        margin-top: 5px;
    }
}
input {
    background-color: var(--input-bc-color);
    border: 1px solid var(--button-color);
    border-radius: 4px;
    padding: 12px 10px;
    width: 100%;
    @include text-base(var(--text-color), $text-font, 200, $size-15);
    @media (min-width: $xxl) and (max-width: $xxxl) {
        font-size: $size-20;
    }
    @media (min-width: $xxxl) {
        font-size: $size-25;
    }
    &::placeholder {
        color: var(--button-color);
        opacity: 1;
    }

    &:focus {
        background-color: var(--button-focus-color);
        outline: none;
    }
}

.change-btn {
    display: block;
    @include btn-base();
    @include text-base(var(--active-text-color), $font-weight: 400, $font-size: $size-15);
    background-color: var(--background-color);
    text-align: center;
    margin: 10px auto;
}
