* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light,
.pink,
.dark {
    background-color: var(--background-color);
}

h1 {
    @include text-base(var(--title-color), $title-font, 400, null);
    @include responsive-font($size-35, $size-40, $size-50);
}

h2 {
    @include text-base(var(--title-color), $title-font, 400, null);
    @include responsive-font($size-35, $size-40, $size-50);
    line-height: 200%;
    text-align: center;
    @media (max-width: $bp-tablet) {
        margin: 0px 10px;
    }
}

h4 {
    @include text-base(var(--title-color), $title-font, 500, null);
    @include responsive-font($size-20, $size-25, $size-35);
}

h5 {
    @include text-base(var(--title-color), $title-font, 400, null);
    @include responsive-font($size-15, $size-20, $size-30);
}

p {
    @include text-base(var(--text-color), $text-font, 400, null);
    @include responsive-font($size-10, $size-15, $size-20);
}

p::first-letter {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.book-rating {
    @include flex-container(row, 3px, center, center);
    width: 100%;
}

.input-group {
    margin-bottom: $basic-margin-y;
    //phones
    @media (max-width: $bp-tablet) {
          margin-bottom: calc($basic-margin-y - 5px);
    }
    //large laptops >1920
    @media (min-width: $bp-desktop-xl) {
        margin-bottom: calc($basic-margin-y + 5px);
    }

    label {
        display: block;
        margin-bottom: 5px;
        @include text-base(var(--text-color), $text-font, 400, null);
        @include responsive-font($size-10, $size-15, $size-25);
    }
}

input {
    background-color: var(--input-bc-color);
    border: 1px solid var(--button-color);
    border-radius: 4px;
    padding: 12px 10px;
    width: 100%;
    @include text-base(var(--text-color), $text-font, 200, null);
    @include responsive-font($size-10, $size-15, $size-25);

    &::placeholder {
        color: var(--secondary-text-color);
        opacity: 1;
    }

    &:focus {
        background-color: var(--button-focus-color);
        outline: none;
    }
}

.change-btn {
    display: block;
    @include btn-base();
    @include text-base(var(--active-text-color), $text-font, 400, null);
    @include responsive-font($size-10, $size-15, $size-25);
    background-color: var(--background-color);
    text-align: center;
    margin: 10px auto;
    @media (max-width: $bp-tablet) {
        min-width: 120px;
    }
}
