@mixin flex-container($direction: column, $gap: 10px, $align-items: center, $justify-content: center) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin text-base($color: var(--text-color), $font-family: $title-font, $font-weight: 400, $font-size: 30px) {
    color: $color;
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
}

@mixin img-base($height: 35px, $width: 100%) {
    height: $height;
    width: $width;
    object-fit: contain;
    &:hover {
        cursor: pointer;
    }
}

@mixin icon-base($width, $height, $color) {
    width: $width;
    height: $height;
    color: $color;
    &:hover {
        cursor: pointer;
    }
}

@mixin btn-base(
    $width: 150px,
    $height: auto,
    $padding: 10px 15px,
    $border: 2px solid var(--button-color),
    $border-radius: 0
) {
    width: $width;
    height: $height;
    padding: $padding;
    border: $border;
    border-radius: $border-radius;
    cursor: pointer;
}