@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Cinzel&family=Kings&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+Egyptian+Hieroglyphs&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rouge+Script&family=UnifrakturCook:wght@700&family=UnifrakturMaguntia&display=swap");
:root {
  --background-color: #ffffff;
  --secondary-background-color: #829ae4;
  --section-bc-color:#f8f8f8;
  --footer-color: #f4f4f4;
  --secondary-color: #c7c9cf;
  --accent-color: #05031b;
  --separators-color: #191c4f21;
  --shadow-color: #00000099;
  --title-color: #000000;
  --text-color: #000000;
  --active-text-color: #080065;
  --span-text-color: #0b007f;
  --secondary-text-color: #677e6c;
  --subtext-color: #222222;
  --error-color: #bd0d0d;
  --confirm-color: #0dbd10;
  --button-color: #19194f;
  --button-focus-color: #26194f24;
  --button-text-color: #ffffff;
  --scrollbar-track:#8da5ec;
  --scrollbar-bc:#4e619b;
  --scrollbar-bc--active:#172242;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light,
.pink,
.dark {
  background-color: var(--background-color);
}

h1 {
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

h2 {
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 200%;
  text-align: center;
}
@media (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
}
@media (min-width: 1920px) {
  h2 {
    font-size: 50px;
  }
}

h4 {
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

h5 {
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

p {
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

p::first-letter {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.book-rating {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 1920px) {
  .book-rating {
    margin-top: 5px;
  }
}

input {
  background-color: var(--input-bc-color);
  border: 1px solid var(--button-color);
  border-radius: 4px;
  padding: 12px 10px;
  width: 100%;
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 15px;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  input {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  input {
    font-size: 25px;
  }
}
input::-moz-placeholder {
  color: var(--button-color);
  opacity: 1;
}
input::placeholder {
  color: var(--button-color);
  opacity: 1;
}
input:focus {
  background-color: var(--button-focus-color);
  outline: none;
}

.change-btn {
  display: block;
  width: 150px;
  height: auto;
  padding: 10px 15px;
  border: 2px solid var(--button-color);
  border-radius: 0;
  cursor: pointer;
  color: var(--active-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--background-color);
  text-align: center;
  margin: 10px auto;
}

body {
  background-color: var(--background-color);
}

.separator {
  width: calc(100vw - 120px);
  height: 1px;
  border: 1px solid var(--separators-color);
  margin: 0 auto;
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--accent-color);
}
.icon:hover {
  cursor: pointer;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .icon {
    width: 25px;
    height: 25px;
    color: var(--accent-color);
  }
  .icon:hover {
    cursor: pointer;
  }
}
@media (min-width: 1920px) {
  .icon {
    width: 30px;
    height: 30px;
    color: var(--accent-color);
  }
  .icon:hover {
    cursor: pointer;
  }
}

.main-nav {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: var(--background-color);
  z-index: 40;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
}
@media (max-width: 768px) {
  .main-nav {
    padding: 10px 30px;
  }
}
@media (min-width: 1920px) {
  .main-nav {
    height: 80px;
    padding: 20px 60px;
  }
}
.main-nav a {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.main-nav a img {
  height: 35px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-nav a img:hover {
  cursor: pointer;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .main-nav a img {
    height: 35px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .main-nav a img:hover {
    cursor: pointer;
  }
}
@media (min-width: 1920px) {
  .main-nav a img {
    height: 55px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .main-nav a img:hover {
    cursor: pointer;
  }
}
.main-nav a h1 {
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 30px;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .main-nav a h1 {
    font-size: 35px;
  }
}
@media (min-width: 1920px) {
  .main-nav a h1 {
    font-size: 40px;
  }
}

.slider-section {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid var(--accent-color);
  margin: 5px auto;
  margin-bottom: 20px;
  width: 80%;
}

.slider-section::before,
.slider-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 15px;
  height: 90%;
  z-index: 3;
  pointer-events: none;
}

.slider-section::before {
  left: 0;
  background: linear-gradient(to right, var(--background-color), rgba(255, 255, 255, 0));
}

.slider-section::after {
  right: 0;
  background: linear-gradient(to left, var(--background-color), rgba(255, 255, 255, 0));
}

.splide__slide {
  margin: 20px 15px 20px 0 !important;
  width: 175px !important;
}
@media (max-width: 768px) {
  .splide__slide {
    width: 45% !important;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .splide__slide {
    margin: 20px 20px 20px 0;
    width: 195px !important;
  }
}
@media (min-width: 1920px) {
  .splide__slide {
    margin: 20px 20px 20px 0;
    width: 245px !important;
  }
}

.splide__slide img {
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .splide__slide img {
    height: 180px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .splide__slide img {
    height: 220px;
  }
}
@media (min-width: 1920px) {
  .splide__slide img {
    height: 250px;
  }
}

.slider-title {
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .slider-title {
    font-size: 30px;
  }
}
@media (min-width: 1920px) {
  .slider-title {
    font-size: 35px;
  }
}

.catalogue-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  position: relative;
}

.catalogue-search {
  border-bottom: 1px solid var(--secondary-color);
  margin: 10px auto 0 auto;
  padding: 5px 10px;
  position: sticky;
  top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
}
.catalogue-search .catalogue-search--input {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 5px;
  border-bottom: 2px solid var(--accent-color);
}
.catalogue-search .catalogue-search--input .icon {
  width: 15px;
}
.catalogue-search .catalogue-search--input input {
  background-color: var(--section-bc-color);
  border: none;
  color: var(--accent-color);
  font-size: 15px;
  outline: none;
  padding: 5px;
  width: 100%;
}
.catalogue-search .catalogue-search--input input::-moz-placeholder {
  color: var(--secondary-text-color);
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.catalogue-search .catalogue-search--input input::placeholder {
  color: var(--secondary-text-color);
  transition: color 0.2s ease;
}
.catalogue-search .catalogue-search--input input:focus::-moz-placeholder {
  color: var(--active-text-color);
}
.catalogue-search .catalogue-search--input input:focus::placeholder {
  color: var(--active-text-color);
}
@media (max-width: 768px) {
  .catalogue-search .catalogue-search--input input {
    font-size: 10px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .catalogue-search .catalogue-search--input input {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .catalogue-search .catalogue-search--input input {
    font-size: 25px;
  }
}

.filter-menu {
  position: relative;
}
.filter-menu ::-webkit-scrollbar {
  width: 3px;
}
.filter-menu ::-webkit-scrollbar-track {
  border-radius: 2rem;
}
.filter-menu ::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 2rem;
}
.filter-menu ::-webkit-scrollbar-thumb:hover {
  background: var(--separators-color);
}
.filter-menu .filter-menu__dropdown {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--section-bc-color);
  border: 2px solid var(--accent-color);
  border-radius: 0;
  box-shadow: 0 4px 10px var(--shadow-color);
  max-height: 80vh;
  min-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 35px;
}
@media (max-width: 768px) {
  .filter-menu .filter-menu__dropdown {
    gap: 10px;
    width: 80vw;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .filter-menu .filter-menu__dropdown {
    width: 60vw;
  }
}
.filter-menu .filter-menu__dropdown button {
  color: var(--button-color);
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 20px;
  background-color: var(--section-bc-color);
  border: none;
  cursor: pointer;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .filter-menu .filter-menu__dropdown button {
    font-size: 15px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .filter-menu .filter-menu__dropdown button {
    font-size: 25px;
  }
}
@media (min-width: 1920px) {
  .filter-menu .filter-menu__dropdown button {
    font-size: 30px;
  }
}
.filter-menu .filter-menu__section {
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 20px;
  min-width: 40vw;
}
@media (max-width: 768px) {
  .filter-menu .filter-menu__section {
    font-size: 15px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .filter-menu .filter-menu__section {
    font-size: 25px;
  }
}
@media (min-width: 1920px) {
  .filter-menu .filter-menu__section {
    font-size: 30px;
  }
}
.filter-menu .filter-menu__section .filter-menu__checkbox {
  accent-color: var(--accent-color);
  height: 15px;
  margin-right: 5px;
  width: 15px;
}
@media (min-width: 1920px) {
  .filter-menu .filter-menu__section .filter-menu__checkbox {
    width: 25px;
    height: 25px;
  }
}
.filter-menu .filter-menu__section .filter-menu__label {
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
@media (max-width: 768px) {
  .filter-menu .filter-menu__section .filter-menu__label {
    font-size: 15px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .filter-menu .filter-menu__section .filter-menu__label {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .filter-menu .filter-menu__section .filter-menu__label {
    font-size: 25px;
  }
}
.filter-menu .filter-menu__section .filter-menu__options {
  border-bottom: 1px solid var(--accent-color);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  max-height: 150px;
  overflow-y: scroll;
  padding: 5px;
}
.filter-menu .filter-menu__section ::-webkit-scrollbar {
  width: 4px;
}
.filter-menu .filter-menu__section ::-webkit-scrollbar-track {
  background: var(--section-bc-color);
  border-radius: 2rem;
}
.filter-menu .filter-menu__section ::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 2rem;
}
.filter-menu .filter-menu__section ::-webkit-scrollbar-thumb:hover {
  background: var(--separators-color);
}

.filter-menu__section-title {
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 25px;
  border-bottom: 1px solid var(--accent-color);
  display: inline-block;
  margin-bottom: 10px;
  text-align: left;
}
@media (max-width: 768px) {
  .filter-menu__section-title {
    font-size: 20px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .filter-menu__section-title {
    font-size: 30px;
  }
}
@media (min-width: 1920px) {
  .filter-menu__section-title {
    font-size: 35px;
    margin-bottom: 15px;
  }
}

.catalogue-book__section {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 175px);
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 768px) {
  .catalogue-book__section {
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 45%);
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .catalogue-book__section {
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 195px);
  }
}
@media (min-width: 1920px) {
  .catalogue-book__section {
    grid-template-columns: repeat(auto-fit, 245px);
  }
}

.single-book-section {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  padding: 15px;
  width: 175px;
}
.single-book-section:hover {
  box-shadow: 0 4px 10px var(--shadow-color);
  transition: all 0.1s ease 0s;
}
@media (max-width: 768px) {
  .single-book-section {
    align-items: center;
    height: 250px;
    padding: 5px;
    width: 100%;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .single-book-section {
    width: 195px;
  }
}
@media (min-width: 1920px) {
  .single-book-section {
    width: 245px;
  }
}
.single-book-section .actions-bar {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
}
@media (min-width: 1920px) {
  .single-book-section .actions-bar {
    margin-top: 10px;
  }
}
.single-book-section .icon {
  width: 19px;
  height: 19px;
  color: var(--accent-color);
}
.single-book-section .icon:hover {
  cursor: pointer;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .single-book-section .icon {
    width: 23px;
    height: 23px;
    color: var(--accent-color);
  }
  .single-book-section .icon:hover {
    cursor: pointer;
  }
}
@media (min-width: 1920px) {
  .single-book-section .icon {
    width: 27px;
    height: 27px;
    color: var(--accent-color);
  }
  .single-book-section .icon:hover {
    cursor: pointer;
  }
}
.single-book-section .single-book-img {
  margin: 5px auto;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-height: 220px;
}
@media (max-width: 768px) {
  .single-book-section .single-book-img {
    height: 130px;
  }
}
.single-book-section .single-book-text {
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 15px;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
@media (max-width: 768px) {
  .single-book-section .single-book-text {
    text-align: center;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .single-book-section .single-book-text {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .single-book-section .single-book-text {
    font-size: 25px;
  }
}
.single-book-section .single-book-title {
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .single-book-section .single-book-title {
    font-size: 25px;
  }
}
@media (min-width: 1920px) {
  .single-book-section .single-book-title {
    font-size: 30px;
  }
}

.not-clickable {
  cursor: auto;
}
.not-clickable:hover {
  box-shadow: none;
}
.not-clickable .icon:hover {
  cursor: auto;
}

.rs-pagination {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.rs-pagination-btn {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid var(--button-color);
  border-radius: 0;
  cursor: pointer;
  color: var(--button-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--background-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .rs-pagination-btn {
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--button-color);
    border-radius: 0;
    cursor: pointer;
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .rs-pagination-btn {
    width: 45px;
    height: 45px;
    padding: 10px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 25px;
  }
}

.rs-pagination-btn-active {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--button-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.rs-pagination-btn-active:focus {
  border: none;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .rs-pagination-btn-active {
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .rs-pagination-btn-active {
    width: 45px;
    height: 45px;
    padding: 10px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 25px;
  }
}

.community-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px auto;
  width: 85%;
}
@media (max-width: 768px) {
  .community-grid {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px auto;
  }
}
.community-grid .community-grid--element {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: var(--section-bc-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--shadow-color);
  padding: 40px 10px;
}
.community-grid .community-grid--element:hover {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}
@media (max-width: 768px) {
  .community-grid .community-grid--element:hover {
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  .community-grid .community-grid--element {
    gap: 10px;
    padding: 20px 10px;
  }
}
@media (min-width: 1920px) {
  .community-grid .community-grid--element {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
}
.community-grid .community-grid--element img {
  cursor: auto !important;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 1920px) {
  .community-grid .community-grid--element img {
    height: 80px;
  }
}
.community-grid .community-grid--element p {
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  text-align: center;
}
@media (max-width: 768px) {
  .community-grid .community-grid--element p {
    font-size: 15px;
  }
}
@media (min-width: 1920px) {
  .community-grid .community-grid--element p {
    font-size: 25px;
  }
}

.login-popup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--shadow-color);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.login-popup-container {
  background-color: var(--background-color);
  border: 2px solid var(--secondary-color);
  padding: 20px 40px;
  width: 30%;
}
@media (max-width: 768px) {
  .login-popup-container {
    padding: 15px 30px;
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .login-popup-container {
    width: 50%;
  }
}
@media (min-width: 1920px) {
  .login-popup-container {
    padding: 25px 40px;
  }
}
.login-popup-container button {
  background-color: var(--button-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 13px;
  padding: 10px;
  width: 100%;
  color: var(--button-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 15px;
}
@media (min-width: 1920px) {
  .login-popup-container button {
    padding: 15px;
    font-size: 20px;
  }
}
.login-popup-container .signup-login-link {
  text-align: center;
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 13px;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .login-popup-container .signup-login-link {
    font-size: 15px;
  }
}
@media (min-width: 1920px) {
  .login-popup-container .signup-login-link {
    font-size: 20px;
  }
}
.login-popup-container span {
  cursor: pointer;
  margin-left: 5px;
  text-decoration: underline;
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 13px;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .login-popup-container span {
    font-size: 15px;
  }
}
@media (min-width: 1920px) {
  .login-popup-container span {
    font-size: 20px;
  }
}

.login-popup-title p {
  margin-bottom: 10px;
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 15px;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .login-popup-title p {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .login-popup-title p {
    font-size: 25px;
  }
}
.login-popup-title h3 {
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 30px;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .login-popup-title h3 {
    font-size: 35px;
  }
}
@media (min-width: 1920px) {
  .login-popup-title h3 {
    font-size: 40px;
  }
}
.login-popup-title .login-title--subtext {
  margin-bottom: 20px;
  color: var(--subtext-color);
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 10px;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .login-popup-title .login-title--subtext {
    font-size: 15px;
  }
}
@media (min-width: 1920px) {
  .login-popup-title .login-title--subtext {
    font-size: 20px;
  }
}

.input-group {
  margin-bottom: 20px;
}
@media (min-width: 1920px) {
  .input-group {
    margin-bottom: 25px;
  }
}
.input-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .input-group label {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .input-group label {
    font-size: 25px;
  }
}

.password-group {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--button-color);
  border-radius: 4px;
  padding-right: 10px;
}
.password-group input {
  border: none;
  margin-right: 10px;
}

.error-message {
  margin: 5px 10px;
  color: var(--error-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 10px;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .error-message {
    font-size: 15px;
  }
}
@media (min-width: 1920px) {
  .error-message {
    font-size: 20px;
  }
}

footer {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--footer-color);
  margin-top: 40px;
  padding: 40px 90px;
}
@media (max-width: 768px) {
  footer {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    padding: 10px 20px;
  }
}
footer ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
@media (max-width: 768px) {
  footer ul {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer ul {
    flex-direction: column;
    gap: 20px;
  }
}
footer li a {
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
}
footer li a:hover {
  color: var(--text-color);
}
footer li a:visited {
  color: var(--text-color);
}
footer li a:active {
  color: var(--text-color);
}
@media (min-width: 1400px) and (max-width: 1920px) {
  footer li a {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  footer li a {
    font-size: 25px;
    font-weight: 400;
  }
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
}
.footer-logo a {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: space-between;
}
.footer-logo h1 {
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 45px;
}
@media (max-width: 768px) {
  .footer-logo h1 {
    font-size: 35px;
  }
}
@media (min-width: 1920px) {
  .footer-logo h1 {
    font-size: 50px;
  }
}
.footer-logo img {
  height: 55px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer-logo img:hover {
  cursor: pointer;
}
@media (min-width: 1920px) {
  .footer-logo img {
    height: 55px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footer-logo img:hover {
    cursor: pointer;
  }
}
.footer-logo p {
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-left: 30px;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .footer-logo p {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .footer-logo p {
    font-size: 25px;
  }
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .auth-buttons {
    flex-direction: row;
    margin-left: 30px;
  }
}
.auth-buttons .login {
  width: 150px;
  height: auto;
  padding: 10px 15px;
  border: 2px solid var(--button-color);
  border-radius: 0;
  cursor: pointer;
  color: var(--active-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--background-color);
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .auth-buttons .login {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .auth-buttons .login {
    width: 100px;
  }
}
@media (min-width: 1920px) {
  .auth-buttons .login {
    font-size: 25px;
    padding: 15px 20px;
  }
}
.auth-buttons .register {
  width: 150px;
  height: auto;
  padding: 10px 15px;
  border: 2px solid var(--button-color);
  border-radius: 0;
  cursor: pointer;
  color: var(--button-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--button-color);
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .auth-buttons .register {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .auth-buttons .register {
    width: 100px;
  }
}
@media (min-width: 1920px) {
  .auth-buttons .register {
    font-size: 25px;
    padding: 15px 20px;
  }
}

.confirm-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--shadow-color);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.confirm-popup {
  background-color: var(--background-color);
  border: 2px solid var(--secondary-color);
  padding: 20px 40px;
  width: 35%;
  padding: 20px;
}
.confirm-popup div {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.confirm-popup h3 {
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}
.confirm-popup .confirm-btn {
  width: 150px;
  height: auto;
  padding: 10px 15px;
  border: 2px solid var(--button-color);
  border-radius: 0;
  cursor: pointer;
  border-color: var(--confirm-color);
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--background-color);
}
.confirm-popup .cansel-btn {
  width: 150px;
  height: auto;
  padding: 10px 15px;
  border: 2px solid var(--button-color);
  border-radius: 0;
  cursor: pointer;
  border-color: var(--error-color);
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--background-color);
}

.custom-select {
  position: relative;
  width: 30%;
  margin: 10px 0;
}
.custom-select ::-webkit-scrollbar {
  width: 2px;
}
.custom-select ::-webkit-scrollbar-track {
  border-radius: 2rem;
}
.custom-select ::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 2rem;
}
.custom-select ::-webkit-scrollbar-thumb:hover {
  background: var(--separators-color);
}
.custom-select .selected-option {
  background-color: var(--input-bc-color);
  border: 1px solid var(--button-color);
  border-radius: 4px;
  padding: 12px 10px;
  width: 100%;
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 15px;
}
.custom-select .selected-option::after {
  content: "▽";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  pointer-events: none;
  color: var(--active-text-color);
}
.custom-select .options-list {
  position: absolute;
  width: 100%;
  max-height: 200px;
  background-color: var(--background-color);
  border: 1px solid var(--button-color);
  border-radius: 4px;
  margin: 0;
  padding: 12px 10px;
  list-style: none;
  overflow-y: auto;
  z-index: 1000;
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 15px;
}
.custom-select .options-list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.custom-select .options-list li:hover {
  background-color: var(--secondary-color);
  color: var(--active-text-color);
}
.custom-select .options-list li.active {
  background-color: var(--secondary-color);
  color: var(--active-text-color);
}

.change-review-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--shadow-color);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.review-popup {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  border: 2px solid var(--secondary-color);
  padding: 20px 40px;
  width: 35vw;
}
.review-popup label {
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.review-popup textarea {
  width: 100%;
  min-width: 30vw;
  min-height: 150px;
  padding: 10px;
  background-color: var(--input-bc-color);
  border: 1px solid var(--button-color);
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 15px;
  resize: none;
}
.review-popup textarea:focus {
  border-color: var(--accent-color);
  outline: none;
  box-shadow: 0 0 0 2px rgba(100, 150, 255, 0.2);
  background-color: var(--button-focus-color);
}
.review-popup textarea::-moz-placeholder {
  color: var(--button-color);
  opacity: 1;
  font-size: 15px;
}
.review-popup textarea::placeholder {
  color: var(--button-color);
  opacity: 1;
  font-size: 15px;
}
.review-popup button {
  margin: 0%;
}

.notes-section {
  width: 60%;
  margin: 10px auto;
  padding: 10px;
  background-color: var(--section-bc-color);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
}
.notes-section section {
  max-height: 60vh;
  overflow-y: scroll;
  margin: 10px;
  min-width: 80%;
}
.notes-section .note {
  margin-bottom: 30px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  justify-content: center;
}
.notes-section .note .icon {
  width: 22px;
  height: 22px;
  color: var(--accent-color);
}
.notes-section .note .icon:hover {
  cursor: pointer;
}
.notes-section .note .icons-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.notes-section .note-text {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-height: 20vh;
  overflow-y: scroll;
  min-width: 90%;
}
.notes-section button {
  width: 150px;
  height: auto;
  padding: 10px 15px;
  border: 2px solid var(--button-color);
  border-radius: 0;
  cursor: pointer;
  color: var(--active-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--background-color);
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .notes-section button {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .notes-section button {
    width: 100px;
  }
}
@media (min-width: 1920px) {
  .notes-section button {
    font-size: 25px;
    padding: 15px 20px;
  }
}
.notes-section .new-note--form {
  margin-bottom: 20px;
}

.add-note-container,
.change-note-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--shadow-color);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  z-index: 100;
}
.add-note-container .input-group,
.change-note-container .input-group {
  width: 100%;
}
.add-note-container input,
.change-note-container input {
  width: 40%;
}

.note-popup {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  border: 2px solid var(--secondary-color);
  padding: 20px;
  width: 30vw;
}
.note-popup h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
.note-popup label {
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 10px;
}
.note-popup .error-message {
  color: var(--error-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin: 0px 0px 10px 10px;
  width: auto;
}
.note-popup textarea {
  min-width: 25vw;
  width: 100%;
  min-height: 150px;
  padding: 10px;
  background-color: var(--input-bc-color);
  border: 1px solid var(--button-color);
  border-radius: 4px;
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 15px;
  resize: none;
}
.note-popup textarea:focus {
  border-color: var(--accent-color);
  outline: none;
  box-shadow: 0 0 0 2px rgba(100, 150, 255, 0.2);
  background-color: var(--button-focus-color);
}
.note-popup textarea::-moz-placeholder {
  color: var(--button-color);
  opacity: 1;
  font-size: 15px;
}
.note-popup textarea::placeholder {
  color: var(--button-color);
  opacity: 1;
  font-size: 15px;
}
.note-popup .btn-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.note-popup .btn-section button {
  width: 100%;
  height: auto;
  padding: 10px 15px;
  border: 2px solid var(--button-color);
  border-radius: 0;
  cursor: pointer;
  margin: 0;
}
.note-popup .cancel-btn {
  border-color: var(--error-color) !important;
  color: var(--text-color) !important;
  margin-right: 20px;
}
.note-popup button {
  margin: 0%;
}

.main-info-change--section {
  display: grid;
  grid-template-columns: 37% 60%;
  gap: 3%;
  margin-top: 20px;
  padding: 10px;
}
.main-info-change--section input::-moz-placeholder, .main-info-change--section textarea::-moz-placeholder {
  font-size: 15px;
}
.main-info-change--section input::placeholder,
.main-info-change--section textarea::placeholder {
  font-size: 15px;
}
.main-info-change--section .error-message {
  margin: 0px 0px 20px 10px;
  color: var(--error-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 10px;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .main-info-change--section .error-message {
    font-size: 15px;
  }
}
@media (min-width: 1920px) {
  .main-info-change--section .error-message {
    font-size: 20px;
  }
}
.main-info-change--section p {
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .main-info-change--section p {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .main-info-change--section p {
    font-size: 25px;
  }
}
.main-info-change--section .image--section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.main-info-change--section .image--section img {
  margin: 5px auto;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-height: 60vh;
}
.main-info-change--section .data--section ::-webkit-scrollbar {
  width: 2px;
}
.main-info-change--section .data--section ::-webkit-scrollbar-track {
  border-radius: 2rem;
}
.main-info-change--section .data--section ::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 2rem;
}
.main-info-change--section .data--section ::-webkit-scrollbar-thumb:hover {
  background: var(--separators-color);
}
.main-info-change--section .data--section .name--section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: space-between;
  justify-content: start;
}
.main-info-change--section .data--section .users-progress {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: space-between;
  justify-content: start;
  margin: 0px;
}
.main-info-change--section .data--section .users-progress .users-progress-inputs {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: space-between;
  justify-content: start;
}
.main-info-change--section .data--section .users-progress .divider {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0.5rem;
}
.main-info-change--section .data--section input#tags {
  width: 90%;
}
.main-info-change--section .data--section input#rating {
  width: 10%;
}
.main-info-change--section .data--section textarea {
  width: 70%;
  min-height: 150px;
  padding: 10px;
  background-color: var(--input-bc-color);
  border: 1px solid var(--button-color);
  border-radius: 4px;
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 15px;
  resize: none;
}
.main-info-change--section .data--section textarea:focus {
  border-color: var(--accent-color);
  outline: none;
  box-shadow: 0 0 0 2px rgba(100, 150, 255, 0.2);
  background-color: var(--button-focus-color);
}
.main-info-change--section .data--section textarea::-moz-placeholder {
  color: var(--button-color);
  opacity: 1;
}
.main-info-change--section .data--section textarea::placeholder {
  color: var(--button-color);
  opacity: 1;
}

.single-book--section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: space-between;
  justify-content: center;
  padding: 10px;
}
.single-book--section .slider-section {
  width: 90%;
}
.single-book--section .description-paragraf {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-height: 35vh;
  overflow-y: scroll;
  padding-right: 5px;
  margin-bottom: 10px;
}
.single-book--section button {
  width: 150px;
  height: auto;
  padding: 10px 15px;
  border: 2px solid var(--button-color);
  border-radius: 0;
  cursor: pointer;
  color: var(--active-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--background-color);
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .single-book--section button {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .single-book--section button {
    width: 100px;
  }
}
@media (min-width: 1920px) {
  .single-book--section button {
    font-size: 25px;
    padding: 15px 20px;
  }
}
.single-book--section .change-btn {
  width: 150px;
  height: auto;
  padding: 10px 15px;
  border: 2px solid var(--button-color);
  border-radius: 0;
  cursor: pointer;
  color: var(--active-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--background-color);
  text-align: center;
  margin: 10px 0;
}
.single-book--section button#delete {
  border-color: var(--error-color);
  align-self: center;
  margin-top: 40px;
  color: var(--text-color);
}
.single-book--section h1 {
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.single-book--section h3 {
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}
.single-book--section p {
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  width: 70%;
}
.single-book--section p span {
  color: var(--active-text-color);
}
.single-book--section ::-webkit-scrollbar {
  width: 3px;
}
.single-book--section ::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 2rem;
}
.single-book--section ::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bc);
  border-radius: 2rem;
}
.single-book--section ::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-bc--active);
}

.main-info {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}
.main-info img {
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 60vh;
  max-width: 100%;
}
.main-info div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.main-info div .reading-progress span {
  font-weight: 700;
  color: var(--span-text-color);
}

.users-progress .book-rating {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 1920px) {
  .users-progress .book-rating {
    margin-top: 5px;
  }
}
.users-progress .actions-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: start;
  margin-top: 5px;
  width: 100%;
}
@media (min-width: 1920px) {
  .users-progress .actions-bar {
    margin-top: 10px;
  }
}

.additional-info {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}
.additional-info section {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.additional-info p {
  width: 100%;
}

.features-page {
  width: 90%;
  margin-left: 60px;
  padding: 20px;
  line-height: 2rem;
}
.features-page h1 {
  margin-bottom: 5px;
}
.features-page h4 {
  margin-bottom: 10px;
}
.features-page section {
  margin-bottom: 20px;
}
.features-page li {
  list-style-type: circle;
  margin-left: 20px;
}

.technologies-page {
  width: 90%;
  margin-left: 60px;
  padding: 20px;
  line-height: 2rem;
}
.technologies-page h1 {
  margin-bottom: 10px;
}
.technologies-page h4 {
  margin-bottom: 10px;
}
.technologies-page section {
  margin-bottom: 20px;
}
.technologies-page li {
  list-style-type: circle;
  margin-left: 20px;
}
.technologies-page .technologies-ui-section--additional-li {
  list-style-type: disc;
}

.developer-page {
  width: 90%;
  margin-left: 60px;
  padding: 20px;
  line-height: 2rem;
}
.developer-page h1 {
  margin-bottom: 10px;
}
.developer-page h4 {
  margin-bottom: 5px;
}
.developer-page section {
  margin-bottom: 20px;
}
.developer-page li {
  list-style-type: circle;
  margin-left: 20px;
}
.developer-page hr {
  width: 50%;
}
.developer-page ul {
  margin-left: 20px;
}
.developer-page img {
  -o-object-fit: contain;
     object-fit: contain;
}

.developer-page--main-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.developer-page--main-info img {
  width: 100%;
  max-height: 60vh;
  margin: auto;
}

.developer-page--location {
  margin-top: 10px;
}
.developer-page--location span {
  border-left: 2px solid var(--accent-color);
  margin-left: 10px;
  padding-left: 10px;
}
.developer-page--location p {
  margin-left: 20px;
}

.developer-page--languages span {
  text-transform: uppercase;
}

.developer-page--education {
  margin-top: 20px;
}
.developer-page--education p {
  margin-left: 20px;
}

.developer-page--courses section {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content: space-between;
  margin-top: 20px auto 0 auto;
}
.developer-page--courses .course-card {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.developer-page--courses .course-img {
  max-height: 40vh;
}

.developer-page--skills {
  margin-top: 20px;
}

.developer-page--refs {
  margin-top: 20px;
}
.developer-page--refs p {
  font-size: 17px;
  margin-bottom: 10px;
}
.developer-page--refs img {
  margin-left: 20px;
  max-height: 20vh;
}

.settings-page {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 20px;
}
.settings-page .main-section {
  display: flex;
  flex-direction: flex;
  gap: 10px;
  align-items: space-between;
  justify-content: start;
  margin-bottom: 15px;
}
.settings-page .main-section #username {
  width: 50%;
}
.settings-page .main-section--title {
  width: 40%;
  text-align: center;
  margin: auto;
}
.settings-page .main-section--title h2 {
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 17px;
}
.settings-page .main-section--title p {
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.settings-page .main-section--form {
  width: 60%;
}
.settings-page .main-section--form button {
  display: inline;
  width: 50px;
  height: auto;
  padding: 10px 15px;
  border: 2px solid var(--button-color);
  border-radius: 0;
  cursor: pointer;
  color: var(--active-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--background-color);
  margin: 10px 10px 10px 0;
}

.main-settings--section {
  border-right: 1px solid var(--separators-color);
  padding: 10px;
}
.main-settings--section button {
  display: block;
  margin: 30px auto;
  width: 150px;
  height: auto;
  padding: 10px 15px;
  border: 2px solid var(--button-color);
  border-radius: 0;
  cursor: pointer;
  color: var(--active-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--background-color);
}

.additional-settings .signoutLink {
  display: block;
  width: 150px;
  height: auto;
  padding: 10px 15px;
  border: 2px solid var(--button-color);
  border-radius: 0;
  cursor: pointer;
  color: var(--active-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--background-color);
  margin: 10px 10px 10px 0;
  text-align: center;
}
.additional-settings .main-section--form .lang-button {
  width: 50px;
}
.additional-settings .main-section--form button {
  width: 150px;
  height: auto;
  padding: 10px 15px;
  border: 2px solid var(--button-color);
  border-radius: 0;
  cursor: pointer;
}
.additional-settings .main-section--form #delete {
  border-color: var(--error-color);
  color: var(--text-color);
}

.exit-section {
  border-top: 1px solid var(--separators-color);
  margin-top: 20%;
}/*# sourceMappingURL=main.css.map */