@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
:root {
  --background-color: #ffffff;
  --section-bc-color:#f8f8f8;
  --footer-color: #f4f4f4;
  --secondary-color: #c7cfc8;
  --accent-color: #05031b;
  --separators-color: #191c4f21;
  --shadow-color: #00000099;
  --title-color: #000000;
  --text-color: #000000;
  --active-text-color: #0d2c13;
  --secondary-text-color: #677e6c;
  --subtext-color: #222222;
  --error-color: #bd0d0d;
  --button-color: #19194f;
  --button-focus-color: #26194f24;
  --button-text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light, .pink, .dark {
  background-color: var(--background-color);
}

h2 {
  color: var(--title-color);
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 200%;
  text-align: center;
}
@media (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
}
@media (min-width: 1920px) {
  h2 {
    font-size: 50px;
  }
}

body {
  background-color: var(--background-color);
}

.separator {
  width: calc(100vw - 120px);
  height: 1px;
  border: 1px solid var(--separators-color);
  margin: 0 auto;
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--accent-color);
}
.icon:hover {
  cursor: pointer;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .icon {
    width: 25px;
    height: 25px;
    color: var(--accent-color);
  }
  .icon:hover {
    cursor: pointer;
  }
}
@media (min-width: 1920px) {
  .icon {
    width: 30px;
    height: 30px;
    color: var(--accent-color);
  }
  .icon:hover {
    cursor: pointer;
  }
}

.main-nav {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: var(--background-color);
  z-index: 100;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
}
@media (max-width: 768px) {
  .main-nav {
    padding: 10px 30px;
  }
}
@media (min-width: 1920px) {
  .main-nav {
    height: 80px;
    padding: 20px 60px;
  }
}
.main-nav div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.main-nav div img {
  height: 35px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-nav div img:hover {
  cursor: pointer;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .main-nav div img {
    height: 35px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .main-nav div img:hover {
    cursor: pointer;
  }
}
@media (min-width: 1920px) {
  .main-nav div img {
    height: 55px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .main-nav div img:hover {
    cursor: pointer;
  }
}
.main-nav div h1 {
  color: var(--title-color);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 200;
  font-size: 30px;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .main-nav div h1 {
    font-size: 35px;
  }
}
@media (min-width: 1920px) {
  .main-nav div h1 {
    font-size: 40px;
  }
}

.slider-section {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid var(--accent-color);
  margin: 5px auto;
  margin-bottom: 20px;
  width: 80%;
}

.slider-section::before,
.slider-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 15px;
  height: 90%;
  z-index: 3;
  pointer-events: none;
}

.slider-section::before {
  left: 0;
  background: linear-gradient(to right, var(--background-color), rgba(255, 255, 255, 0));
}

.slider-section::after {
  right: 0;
  background: linear-gradient(to left, var(--background-color), rgba(255, 255, 255, 0));
}

.splide__slide {
  margin: 20px 15px 20px 0 !important;
  width: 175px !important;
}
@media (max-width: 768px) {
  .splide__slide {
    width: 45% !important;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .splide__slide {
    margin: 20px 20px 20px 0;
    width: 195px !important;
  }
}
@media (min-width: 1920px) {
  .splide__slide {
    margin: 20px 20px 20px 0;
    width: 245px !important;
  }
}

.splide__slide img {
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .splide__slide img {
    height: 180px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .splide__slide img {
    height: 220px;
  }
}
@media (min-width: 1920px) {
  .splide__slide img {
    height: 250px;
  }
}

.slider-title {
  color: var(--title-color);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .slider-title {
    font-size: 30px;
  }
}
@media (min-width: 1920px) {
  .slider-title {
    font-size: 35px;
  }
}

.catalogue-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  position: relative;
}

.catalogue-search {
  border-bottom: 1px solid var(--secondary-color);
  margin: 10px auto 0 auto;
  padding: 5px 10px;
  position: sticky;
  top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
}
.catalogue-search .catalogue-search--input {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 5px;
  border-bottom: 2px solid var(--accent-color);
}
.catalogue-search .catalogue-search--input .icon {
  width: 15px;
}
.catalogue-search .catalogue-search--input input {
  background-color: var(--section-bc-color);
  border: none;
  color: var(--accent-color);
  font-size: 15px;
  outline: none;
  padding: 5px;
  width: 100%;
}
.catalogue-search .catalogue-search--input input::-moz-placeholder {
  color: var(--secondary-text-color);
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.catalogue-search .catalogue-search--input input::placeholder {
  color: var(--secondary-text-color);
  transition: color 0.2s ease;
}
.catalogue-search .catalogue-search--input input:focus::-moz-placeholder {
  color: var(--active-text-color);
}
.catalogue-search .catalogue-search--input input:focus::placeholder {
  color: var(--active-text-color);
}
@media (max-width: 768px) {
  .catalogue-search .catalogue-search--input input {
    font-size: 10px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .catalogue-search .catalogue-search--input input {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .catalogue-search .catalogue-search--input input {
    font-size: 25px;
  }
}

.filter-menu {
  position: relative;
}
.filter-menu ::-webkit-scrollbar {
  width: 3px;
}
.filter-menu ::-webkit-scrollbar-track {
  border-radius: 2rem;
}
.filter-menu ::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 2rem;
}
.filter-menu ::-webkit-scrollbar-thumb:hover {
  background: var(--separators-color);
}
.filter-menu .filter-menu__dropdown {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--section-bc-color);
  border: 2px solid var(--accent-color);
  border-radius: 0;
  box-shadow: 0 4px 10px var(--shadow-color);
  max-height: 80vh;
  min-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 35px;
}
@media (max-width: 768px) {
  .filter-menu .filter-menu__dropdown {
    gap: 10px;
    width: 80vw;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .filter-menu .filter-menu__dropdown {
    width: 60vw;
  }
}
.filter-menu .filter-menu__dropdown button {
  color: var(--button-color);
  font-family: "Merriweather", serif;
  font-weight: 200;
  font-size: 20px;
  background-color: var(--section-bc-color);
  border: none;
  cursor: pointer;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .filter-menu .filter-menu__dropdown button {
    font-size: 15px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .filter-menu .filter-menu__dropdown button {
    font-size: 25px;
  }
}
@media (min-width: 1920px) {
  .filter-menu .filter-menu__dropdown button {
    font-size: 30px;
  }
}
.filter-menu .filter-menu__section {
  color: var(--text-color);
  font-family: "Merriweather", serif;
  font-weight: 200;
  font-size: 20px;
  min-width: 40vw;
}
@media (max-width: 768px) {
  .filter-menu .filter-menu__section {
    font-size: 15px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .filter-menu .filter-menu__section {
    font-size: 25px;
  }
}
@media (min-width: 1920px) {
  .filter-menu .filter-menu__section {
    font-size: 30px;
  }
}
.filter-menu .filter-menu__section .filter-menu__checkbox {
  accent-color: var(--accent-color);
  height: 15px;
  margin-right: 5px;
  width: 15px;
}
@media (min-width: 1920px) {
  .filter-menu .filter-menu__section .filter-menu__checkbox {
    width: 25px;
    height: 25px;
  }
}
.filter-menu .filter-menu__section .filter-menu__label {
  color: var(--text-color);
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 15px;
}
@media (max-width: 768px) {
  .filter-menu .filter-menu__section .filter-menu__label {
    font-size: 15px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .filter-menu .filter-menu__section .filter-menu__label {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .filter-menu .filter-menu__section .filter-menu__label {
    font-size: 25px;
  }
}
.filter-menu .filter-menu__section .filter-menu__options {
  border-bottom: 1px solid var(--accent-color);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  max-height: 150px;
  overflow-y: scroll;
  padding: 5px;
}
.filter-menu .filter-menu__section ::-webkit-scrollbar {
  width: 4px;
}
.filter-menu .filter-menu__section ::-webkit-scrollbar-track {
  background: var(--section-bc-color);
  border-radius: 2rem;
}
.filter-menu .filter-menu__section ::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 2rem;
}
.filter-menu .filter-menu__section ::-webkit-scrollbar-thumb:hover {
  background: var(--separators-color);
}

.filter-menu__section-title {
  color: var(--title-color);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 25px;
  border-bottom: 1px solid var(--accent-color);
  display: inline-block;
  margin-bottom: 10px;
  text-align: left;
}
@media (max-width: 768px) {
  .filter-menu__section-title {
    font-size: 20px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .filter-menu__section-title {
    font-size: 30px;
  }
}
@media (min-width: 1920px) {
  .filter-menu__section-title {
    font-size: 35px;
    margin-bottom: 15px;
  }
}

.catalogue-book__section {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 175px);
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 768px) {
  .catalogue-book__section {
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 45%);
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .catalogue-book__section {
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 195px);
  }
}
@media (min-width: 1920px) {
  .catalogue-book__section {
    grid-template-columns: repeat(auto-fit, 245px);
  }
}

.single-book-section {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  padding: 15px;
  width: 175px;
}
.single-book-section:hover {
  box-shadow: 0 4px 10px var(--shadow-color);
  transition: all 0.1s ease 0s;
}
@media (max-width: 768px) {
  .single-book-section {
    align-items: center;
    height: 250px;
    padding: 5px;
    width: 100%;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .single-book-section {
    width: 195px;
  }
}
@media (min-width: 1920px) {
  .single-book-section {
    width: 245px;
  }
}
.single-book-section .actions-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
}
@media (min-width: 1920px) {
  .single-book-section .actions-bar {
    margin-top: 10px;
  }
}
.single-book-section .book-rating {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 1920px) {
  .single-book-section .book-rating {
    margin-top: 5px;
  }
}
.single-book-section .icon {
  width: 19px;
  height: 19px;
  color: var(--accent-color);
}
.single-book-section .icon:hover {
  cursor: pointer;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .single-book-section .icon {
    width: 23px;
    height: 23px;
    color: var(--accent-color);
  }
  .single-book-section .icon:hover {
    cursor: pointer;
  }
}
@media (min-width: 1920px) {
  .single-book-section .icon {
    width: 27px;
    height: 27px;
    color: var(--accent-color);
  }
  .single-book-section .icon:hover {
    cursor: pointer;
  }
}
.single-book-section .single-book-img {
  margin: 5px auto;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-height: 220px;
}
@media (max-width: 768px) {
  .single-book-section .single-book-img {
    height: 130px;
  }
}
.single-book-section .single-book-text {
  color: var(--text-color);
  font-family: "Merriweather", serif;
  font-weight: 200;
  font-size: 15px;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
@media (max-width: 768px) {
  .single-book-section .single-book-text {
    text-align: center;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .single-book-section .single-book-text {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .single-book-section .single-book-text {
    font-size: 25px;
  }
}
.single-book-section .single-book-title {
  color: var(--title-color);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 20px;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .single-book-section .single-book-title {
    font-size: 25px;
  }
}
@media (min-width: 1920px) {
  .single-book-section .single-book-title {
    font-size: 30px;
  }
}

.rs-pagination {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.rs-pagination-btn {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid var(--button-color);
  border-radius: 0;
  cursor: pointer;
  color: var(--button-color);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--background-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .rs-pagination-btn {
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--button-color);
    border-radius: 0;
    cursor: pointer;
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .rs-pagination-btn {
    width: 45px;
    height: 45px;
    padding: 10px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 25px;
  }
}

.rs-pagination-btn-active {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--button-text-color);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.rs-pagination-btn-active:focus {
  border: none;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .rs-pagination-btn-active {
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .rs-pagination-btn-active {
    width: 45px;
    height: 45px;
    padding: 10px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 25px;
  }
}

.community-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px auto;
  width: 85%;
}
@media (max-width: 768px) {
  .community-grid {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px auto;
  }
}
.community-grid .community-grid--element {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: var(--section-bc-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--shadow-color);
  padding: 40px 10px;
}
.community-grid .community-grid--element:hover {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}
@media (max-width: 768px) {
  .community-grid .community-grid--element:hover {
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  .community-grid .community-grid--element {
    gap: 10px;
    padding: 20px 10px;
  }
}
@media (min-width: 1920px) {
  .community-grid .community-grid--element {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
}
.community-grid .community-grid--element img {
  cursor: auto !important;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 1920px) {
  .community-grid .community-grid--element img {
    height: 80px;
  }
}
.community-grid .community-grid--element p {
  color: var(--text-color);
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  text-align: center;
}
@media (max-width: 768px) {
  .community-grid .community-grid--element p {
    font-size: 15px;
  }
}
@media (min-width: 1920px) {
  .community-grid .community-grid--element p {
    font-size: 25px;
  }
}/*# sourceMappingURL=main.css.map */