@import "./_basic-variables";
@import "./mixins";
@import "./_themes.scss";
@import "./base";

body {
    background-color: var(--background-color);
}

.separator {
    width: calc(100vw - 120px);
    height: 1px;
    border: 1px solid var(--separators-color);
    margin: 0 auto;
}

.icon {
    @include icon-base(20px, 20px, var(--accent-color));
    @media (min-width: $xxl) and (max-width: $xxxl) {
        @include icon-base(25px, 25px, var(--accent-color));
    }
    @media (min-width: $xxxl) {
        @include icon-base(30px, 30px, var(--accent-color));
    }
}

@import "./components/navbar";
@import "./components/sliders";
@import "./components/catalogue";
@import "./components/community";
@import "./components/login-popup";
@import "./components/footer";
@import "./pages/book-page";